<div class="container">
    <div class="row">
        <div class="col-xxl-4 col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 m-2">
            <h3>Contacto</h3>
            <form style="text-align: start;">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Direccion de Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con nadie</small>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Dejanos tu mensaje</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mt-5">Enviar</button>
            </form>
        </div>
    </div>
</div>