<div class="container">
    <div class="row">
        <div class="col-xxl-6 col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12 m-2">
            <div class="container container-custom">
                <img src="../../../assets/icons/logo.svg" alt="">
            </div>
            <h2 class="mt-2">my Photos</h2>
            <h4>Tu lugar para encontrar los mejores albumes</h4>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id qui fuga nihil suscipit esse ad consequuntur quas, officiis incidunt enim eum dolor possimus modi. Sint repellat vitae voluptatibus tempore magnam!</p>
            <br>
            <h4>#socialnetworks</h4>
            <br>
            <div class="social-networks-container col-12 d-flex flex-row text-center">
                <div class="social-network w-50 d-inline-block">
                    <img src="../../../assets/icons/facebook.svg" alt="">
                    <p>facebook</p>
                </div>
                <div class="social-network w-50 d-inline-block">
                    <img src="../../../assets/icons/instagram.svg" alt="">
                    <p>instagram</p>
                </div>
                <div class="social-network w-50 d-inline-block">
                    <img src="../../../assets/icons/linkedin.svg" alt="">
                    <p>LinkedIn</p>
                </div>
                <div class="social-network w-50 d-inline-block">
                    <img src="../../../assets/icons/pinterest.svg" alt="">
                    <p>Pinterest</p>
                </div>
            </div>
        </div>

    </div>
</div>